<?xml version="1.0" encoding="UTF-8"?>
<module>
  <title>Первоапрельский квест 2016 года</title>
  <config>
    <master_objective>score</master_objective>
    <master_rate>50</master_rate>
  </config>
  <meta>
    <OBJECT_TYPE>1</OBJECT_TYPE>
    <OBJECT_ID>2980</OBJECT_ID>
    <AUTHOR>Администратор</AUTHOR>
    <VERSION>1.2 от  19.03.2016</VERSION>
  </meta>
  <section id="BBT-1-2980" type="singleton">
    <title>Первоапрельский квест 2016 года</title>
    <content id="BBT-1-2980" objective_id="BBT.1.2980" type="test">
      <title>Первоапрельский квест 2016 года</title>
      <config>
        <skip_questions>1</skip_questions>
        <size_limit></size_limit>
        <hints>0</hints>
        <shuffle>1</shuffle>
        <add_to_global_score>1</add_to_global_score>
        <master_rate>50</master_rate>
        <attempts>1</attempts>
        <time_limit>120</time_limit>
        <show_report>errors</show_report>
        <immediate_response_when_correct>1</immediate_response_when_correct>
        <immediate_response_when_wrong>1</immediate_response_when_wrong>
      </config>
      <testsection id="BBT-37-28828" objective_id="BBT.37.28828" type="">
        <title>Пневма</title>
        <testquestion id="BBT-3-38397" type="">
          <title><![CDATA[Сколько будет 0.25  в метрической системе?]]></title>
          <answer>1) 3,78541</answer>
          <answer>2) 3.14159</answer>
          <answer>3) 0,56826</answer>
          <answer>4) 6.35</answer>
          <answer>5) 5.5</answer>
          <answer>6) 4.5</answer>
          <mask>3</mask>
        </testquestion>
        <testquestion id="BBT-3-38267" type="">
          <title><![CDATA[Что такое предсжатие газовой пружины?]]></title>
          <answer>1) Предварительное сжатие руками (или на приспособе) с целью проверить работоспособность пружины</answer>
          <answer>2) Расстояние, на которое требуется поджать (заневолить) ГП при её установке</answer>
          <answer>3) Продолжительность периода времени, в течение которого ГП может находится во взведенном состоянии перед произведением выстрела</answer>
          <answer>4) Степень сжатия газовой пружины редуктора, позволяющая получить требуемое рабочее давление.</answer>
          <mask>1</mask>
        </testquestion>
        <testquestion id="BBT-3-38261" type="">
          <title><![CDATA[Кто такая Мурка?]]></title>
          <answer>1) Кошка глобального модератора</answer>
          <answer>2) Любимая корова Матроскина</answer>
          <answer>3) Винтовка МР-512</answer>
          <answer>4) Кривая железная кочерга</answer>
          <answer>5) Ни одно из перечисленного</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38260" type="">
          <title><![CDATA[Что такое "Дудка"?]]></title>
          <answer>1) Неформальное название ствола оружия. </answer>
          <answer>2) Любимый девайс организаторов, он же мегафон.</answer>
          <answer>3) Свисток, выдаваемый для подачи сигнала. "Эй, судья, там в дудку дунули, иди мишени поднимай, веревка оборвалась"</answer>
          <answer>4) Неформальное название глушителя. "Надел дудку на ствол", "Прикрутил дудку к стволу" и т.п.</answer>
          <mask>0</mask>
        </testquestion>
        <testquestion id="BBT-3-38259" type="">
          <title><![CDATA[Что такое прямоточное оружие?]]></title>
          <answer>1) Оружие в котором давление расходуемого на выстрел воздуха не регулируется редуктором. В связи с его отсутствием.</answer>
          <answer>2) Прямо точное-точное, субминутное оружие, мечта многих аирганнеров.</answer>
          <answer>3) ППП с прямым впрыском смазки в цилиндр, для создания дизель-эффекта.</answer>
          <answer>4) Оружие, стреляющее снарядами с прямоточным реактивным двигателем.</answer>
          <mask>0</mask>
        </testquestion>
        <testquestion id="BBT-3-38258" type="">
          <title><![CDATA[Что такое снятие фаски?]]></title>
          <answer>1) Попадание в самый край мишени ФТ.</answer>
          <answer>2) Да, и это тоже сделают с вами за нарушение ПТБ</answer>
          <answer>3) Та вещь, которую необходимо сделать с дешевыми пулями, чтобы они полетели более-менее кучно.</answer>
          <answer>4) Создание конусообразного углубления в стволе, которое служит для обеспечения одновременности схода пули с нарезов, (или обеспечивает равномерную постановку на них).</answer>
          <answer>5) То, что обязан сделать каждый мусульманин</answer>
          <mask>3</mask>
        </testquestion>
        <testquestion id="BBT-3-38257" type="">
          <title><![CDATA[Что такое надульник?]]></title>
          <answer>1) Напарник, стреляющий ФТ в паре с вами, из вашего же оружия (по причине отсутствия своего).</answer>
          <answer>2) Устройство, закрепляемое на стволе винтовки</answer>
          <answer>3) Человек, которому не досталось места на скамейке или стуле, и который сел на кофр от оружия, чтобы быть со всеми за общим столом.</answer>
          <answer>4) Гиря на веревочке, подвешивается на ствол ППП для того, чтобы уменьшить паразитные колебания после выстрела.</answer>
          <mask>1</mask>
        </testquestion>
        <testquestion id="BBT-3-38254" type="">
          <title><![CDATA[Что такое Дизель-эффект?]]></title>
          <answer>1) Эффект детонации паров смазки в цилиндре ППП</answer>
          <answer>2) Утренний выхлоп аирганнера после ночных посиделок</answer>
          <answer>3) Эффект, возникающий в стволе ПЦП при повышенном расходе воздуха</answer>
          <answer>4) Неблагоприятный эффект обгона воздухом пули, вылетающей из ствола, что серьезно влияет на траекторию ее полета</answer>
          <answer>5) Ни одно из перечисленного</answer>
          <mask>0</mask>
        </testquestion>
        <testquestion id="BBT-3-38251" type="">
          <title><![CDATA[Какой БК JSB Exact .177 0,547?]]></title>
          <answer>1) В среднем на 33.2% выше курса нефти Urals</answer>
          <answer>2) От 0 до 2</answer>
          <answer>3) От 2 до 4</answer>
          <answer>4) Ни одно из перечисленного</answer>
          <mask>1</mask>
        </testquestion>
        <testquestion id="BBT-3-38250" type="">
          <title><![CDATA[Период переосвидетельствования металлокомпозитного баллона?]]></title>
          <answer>1) 60 часов</answer>
          <answer>2) 60 дней</answer>
          <answer>3) 60 месяцев</answer>
          <answer>4) 60 лет</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38398" type="">
          <title><![CDATA[Продукция какой всемирно известной фирмы упомянута в фразе: "В шкафу крыса и банка шмелей"?]]></title>
          <answer>1) Rat guns</answer>
          <answer>2) Shmell, Shmull &amp; Shmulevich</answer>
          <answer>3) Krossman</answer>
          <answer>4) Крысневич и сыновья</answer>
          <answer>5) Vseblagoy crossmans</answer>
          <answer>6) Crosman</answer>
          <mask>5</mask>
        </testquestion>
      </testsection>
      <testsection id="BBT-37-28829" objective_id="BBT.37.28829" type="">
        <title>Спорт</title>
        <testquestion id="BBT-3-38255" type="">
          <title><![CDATA[Что такое отрыв?]]></title>
          <answer>1) То, что делают организаторы с вашими руками за нарушение ПТБ.</answer>
          <answer>2) Ну вы поняли, да? В него мы уходим вечером, после завершения срельб.</answer>
          <answer>3) Значительное отклонение отдельной пробоины от СТП.</answer>
          <answer>4) Самая волнительная часть соревнований: отрыв мишеней от щитов или пулеулавливателей для подсчета набранных очков.</answer>
          <answer>5) Варианты 1) и 4)</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38252" type="">
          <title><![CDATA[Что такое "Клик"?]]></title>
          <answer>1) Одно деление поворота маховиков введения поправок в оптическом прицеле.</answer>
          <answer>2) Очень легкий спуск в спортивном пневматическом оружии</answer>
          <answer>3) Минимально действие, необходимое модератору для удаления сообщения с большим количеством орфографических ошибок </answer>
          <answer>4) Попадание в корпус мишени ФТ, не вызвавшее падения мишени, но давшее отчетливый характерный звук.</answer>
          <answer>5) Ни одно из перечисленного</answer>
          <mask>0</mask>
        </testquestion>
        <testquestion id="BBT-3-38253" type="">
          <title><![CDATA[Что такое деривация?]]></title>
          <answer>1) Состояние аирганнеров на утро после фестиваля, известного как "Открытие сезона"</answer>
          <answer>2) Принцип расстановки мишеней по поляне для филд-таргета</answer>
          <answer>3) Явление отклонения траектории полета пули</answer>
          <answer>4) Алгоритм, по которому компьютер распределяет стрелков по сменам в тире</answer>
          <answer>5) Все перечисленное</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38264" type="">
          <title><![CDATA[Что такое Туннель Купера?]]></title>
          <answer>1) Способ расположения мишени в ФТ, представляет искусственно созданное укрытие, которое затрудняет поражение мишени в связи с ограниченным освещением и непрогнозируемым поведением ветра в туннеле.</answer>
          <answer>2) Характерная черта всех злостных нарушителей ПТБ (и пусть каждый думает в меру своей испорченности) </answer>
          <answer>3) Препятствие в практической стрельбе. Туннель, представляющий собой проход любого размера, состоящий из боковых стен, поддерживающих незакрепленное покрытие.</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38262" type="">
          <title><![CDATA[Что такое пулеулавливатель?]]></title>
          <answer>1) Молодой аиграннер, бегающий поднимать мишени ФТ.</answer>
          <answer>2) Объект для шуток (пулек) за вечерним столом.</answer>
          <answer>3) Устройство, надежно останавливающее пулю, пробившую мишень или пролетевшую мимо</answer>
          <answer>4) Биологический объект, например, картонка или ноусер, внезапно появившийся на поляне во время проведения ФТ.</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38412" type="">
          <title><![CDATA[Что  такое "обезьяна"?]]></title>
          <answer>1) Самая главная и сложная мишень для ФТ.</answer>
          <answer>2) Ник единственного пожизненно забаненного участника форума.</answer>
          <answer>3) Сленговое название одной из обязательных поз при стрельбе из четырех положений.</answer>
          <answer>4) Шуточное переходящее прозвище участника, жестко нарушившего ПТБ.</answer>
          <answer>5) Устройство для подсчета спорных очков.</answer>
          <mask>4</mask>
        </testquestion>
      </testsection>
      <testsection id="BBT-37-28830" objective_id="BBT.37.28830" type="">
        <title>Клуб</title>
        <testquestion id="BBT-3-38269" type="">
          <title><![CDATA[В какой обуви можно приходить в тир?]]></title>
          <answer>1) Только в кирзачах, только хардкор.</answer>
          <answer>2) В специальной стрелковой обуви, в другой пусть реднеки стреляют у себя на ферме.</answer>
          <answer>3) В чистой и удобной.</answer>
          <answer>4) Какая обувь? Босиком, камрады, исключительно босиком.</answer>
          <answer>5) На лабутенах, нах!</answer>
          <mask>2</mask>
        </testquestion>
        <testquestion id="BBT-3-38268" type="">
          <title><![CDATA[Что такое песочница?]]></title>
          <answer>1) Специально выделенное место для безопасного обслуживания оружия. Отгораживается мешками с песком.</answer>
          <answer>2) Место, где играют большие мальчики с маленькими совочками.</answer>
          <answer>3) Место, где играют маленькие мальчики с большими совочками.</answer>
          <answer>4) Место, где стреляют девочки, показывающие выдающиеся формы.</answer>
          <answer>5) Место, куда отправляются мальчики и девочки, которые стреляют слишком хорошо</answer>
          <mask>4</mask>
        </testquestion>
        <testquestion id="BBT-3-38266" type="">
          <title><![CDATA[Что такое сандвик?]]></title>
          <answer>1) Это такой ножеманский сэндвич, который приготовили при помощи Моры Клиппер.</answer>
          <answer>2) Это модель малоизвестной финской пневматической винтовки.</answer>
          <answer>3) Это марка шведской ножевой стали.</answer>
          <answer>4) Это разновидность упора для оружия</answer>
          <answer>5) Это характерная структура в пулеулавливателе аирганнера, стреляющего пулями разных производителей.</answer>
          <mask>2</mask>
        </testquestion>
      </testsection>
    </content>
  </section>
</module>
