#content {
  min-height:300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;  
}
#content td, #content th {
	font-size:12px; 
	font-family:Arial,Verdana, sans-serif;
}

#content table {
	border-collapse:collapse;
}

form {
	margin-top:0px;
	margin-bottom:0px;
}

#content h1, #content.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #ff6600;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #bababa;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	display: block;
}

#content h2, #content.h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color: #ff6600;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#content h3, #content.h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ff6600;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

.sel1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ff6600;
	font-style: normal;
	line-height: normal;
}

.sel2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #6a8d00;
	font-style: normal;
	line-height: normal;
}


#content p {
	padding:5 0 5 0;
	margin:0;
	text-indent:0;
}

.video1  {
 width:150;
 height:120;
 display: block;
 background-image: url(tpl/video.jpg);
 background-repeat: repeat-y;
 background-position: left top;
}
.normal, .bg1, .bg2, .bg3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #333333;
	font-weight: lighter;
}
.bg1 {
	background-color:#eeeeee;
	color: #222222;
	padding:10px;
}

.bg2 {
	background-color:#fef0ce;
	color: #222222;
	padding:10px;
	}

.bg3 {
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #fe7010;
	background-image: url(tpl/accent.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 60px;
}
#content li {
	margin-left: 15px;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 0px;
	margin-bottom: 5px;
}
#content ul {
	list-style-image: url(tpl/marker_orange.gif);
	list-style-position: outside;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#content ol {
	list-style-position: outside;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-weight: bold;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

#content BLOCKQUOTE {
	padding:10px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}



#content li {
	margin:0px;
	margin-left:20px;
	margin-top: 2px;
}

#content ul {
	list-style-type:square;
	list-style-position:outside;
	margin:5px 0px 5px 20px;
	padding:0px;                
}

#content ol {
	list-style-position:outside;
	margin:5px 0px 5px 20px;
	padding:0px;
}

.content .header {
	background-image: url(tpl/c_bar_orange2.gif);
	background-repeat: repeat-x;
	background-color: #fe7010;
	background-position: left top;

	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;

	padding-top: 3px;
	padding-left: 12px;
	padding-bottom: 3px;
	height: 19px;
}

.header a:hover {
	color: #FFFFFF;
}
.note {
	color: #666;
	font-size: 10px;
 	font-style:italic;
}

/***************************************/
/******BBT******************************/
/********* Стили Заголовков ********/
#content h1, #content.h1, #content h2, #content .h2, #content h3, #content .h3, #content h4, #content .h4, #content h5, #content .h5, #content h6, #content .h6 {
	text-align:left;
	color:#006fd8;
	margin-top:1em;
	margin-bottom:0.35em;
	font-weight: bold;
}
#content h1, #content.h1 {
	font-size:160%;
	color: #fe7010;
}
#content h2, #content.h2 {
	font-size:135%;
}
#content h3, #content .h3 {
	font-size:120%;
}
#content h4, #content.h4 {
	font-size:100%;
}
#content h5, #content.h5 {
	font-size:100%;
	font-weight: normal;
}
#content h6, #content.h6 {
	font-size:100%;
	font-weight: normal;
}
#content hr {
	height: 2px;
	background-color: #006fd8;
	padding: 0;
	margin: 10 0;
	color: #006fd8;
	border: 2px none #006fd8;
}

/*************  UL  OL  Li  *****************/
#content ol {							
  list-style-position: outside;
	font-weight: bold;
	margin-top: 0.5em;
	margin-right: 0em;
	margin-bottom: 0.75em;
	margin-left: 0.6em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 1.5em;
	display: table-cell;
}
#content ul {
	list-style-image: url(tpl/marker_1.gif);
  list-style-position: outside;
	font-weight: normal;
	margin-top: 0.5em;
	margin-right: 0em;
	margin-bottom: 0.75em;
	margin-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 1.2em;
	font-size: 1em;
}
#content li {
 	margin: 0.25em 0em;
	text-align: justify;
	font-weight: normal;
}

/***** Стили выделения текста *****/
.marker-Blue {
	background-color: #bddbff;	/***** (маркер-синий) *****/
}
.marker-Orange {
	background-color: #ffcc99;  /***** (маркер-оранжевый) *****/
}
.selection_simple1 {  /***** (текст-синий) ****/
 color:#006fd8;
}
.selection_simple2 {  /***** (текст-оранжевый) ****/
 color:#fe7010;
}


/* Рамки */

.outerselection {
	margin-top: 0.35em;
	margin-bottom: 0.75em;
}
/*блок Синий-темный*/
.selection1 {
	background-color: #006fd8;
	font-size:120%;
	color:#FFF;
	padding: 0.7em 1em;
	border: none;
}
/*блок Синий-светлый*/
.selection2 {
	background-color:#e3f6ff;
	padding: 0.7em 1.2em;
	border: 1px dashed #006fd8;
}
/*блок Оранжевый-темный*/
.selection3 {
	background-color: #fe7010;
	font-size:120%;
	color:#FFF;
	padding: 0.7em 1em;
	border: none;
}
/*блок Оранжевый-светлый*/
.selection4 {
	background-color: #fef3d8;
	padding: 0.7em 1.2em;
	border: 1px dashed #fe7010;
}
/*блок Светло-Серый*/
.selection5 {
	background-color:#f0f0f0;
	padding: 0.7em 1.2em;
	border: 1px dashed #999;
	text-align: justify;
}

/* Блоки */
/*   Новая редакция стиля "Блок-Предупреждение-Оранжевый"   */
.outerframe1 {
	margin-top: 0.15em;
	margin-bottom: 0.75em;	
	background-color: #fffff0;
  background-image: url(tpl/block_line_o.gif);
	background-repeat: repeat-y;
	background-position: left top;
  border: 2px solid #fe7010;
}

.frame1m {    
	text-align: left;
	vertical-align: top;
	padding-top: 0.7em; 
	padding-right: 1em;
	padding-bottom: 0.7em;
	padding-left: 60px;
	background-image: url(tpl/block_accent_o.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

/*   Новая редакция стиля "Блок-Вопрос-Синий"   */
.outerframe2 {
	margin-top: 0.15em;
	margin-bottom: 0.75em;	
	background-color: #fffff0;
  background-image: url(tpl/block_line_b.gif);
	background-repeat: repeat-y;
	background-position: left top;
  border: 2px solid #006fd8;
}
.frame2m {
	text-align: left;
	vertical-align: top;
	padding-top: 0.7em; 
	padding-right: 1em;
	padding-bottom: 0.7em;
	padding-left: 60px;
	background-image: url(tpl/block_question_b.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.outerframe {
	margin-top: 0.15em;
	margin-bottom: 0.75em;	
	background-color: #fffff0;
}
/*Синяя Рамка - Одинарная*/
.frame3 {
 border:solid #006fd8 2px;
 padding: 0.7em 1em;
}
/*Оранжевая Рамка - Одинарная*/
.frame4 {
	border:2px solid #fe7010;
	padding: 0.7em 1em;
}
/*Синяя Рамка - Двойная*/
.frame5 {
 border:solid #006fd8 2px;
 padding: 0.7em 1em;
}
/*Оранжевая Рамка - Двойная*/
.frame6 {
 border:solid #fe7010 2px;
 padding: 0.7em 1em;
}

/************** Стиль для таблиц в "Table-Block`e" ****************/   
.basicTableEnvelope {
	padding: 0px;
	margin: 0px;
  text-align:center;
}
.basicTableEnvelope .basicTableName {
	color: #fe7010;
	text-align: right;
	font-weight: bold;
}
.basicTable {
  width:100%;
	background: #fffff0; /* Цвет фона нечетных строк */
	border: 1px solid #006fd8; /* Рамка вокруг таблицы */
	border-collapse: collapse; /* Убираем двойные линии между ячейками */
	margin-top: 0.6em;
	margin-bottom: 1.4em;
}
.basicTable TD, TH {
    padding: 0.25em 0.8em; /* Поля вокруг содержимого ячейки */
}
.basicTable TD {
	text-align: center; /* Линия внизу ячейки */
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #006fd8;
	border-left-color: #006fd8;
}
.basicTable TH, .basicTable .TH {
	font-weight:bold;
	background: #006fd8; /* Цвет фона */
	color: white; /* Цвет текста */
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
}
.basicTable TR.even {
    background: #fff8dc; /* Цвет фона четных строк */
}
.basicTable .la {
	text-align: left; /* Выравнивание по левому краю */
	border-left-style: none;
	text-indent: 1em;
}


/******** Оставлено для совместимости **************/

.frame1 {    /*   Старая редакция стиля frame1    */
	border: 2px solid #fe7010;
	background-image: url(tpl/block_accent_o_old.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	vertical-align: top;
	padding-top: 0.7em; 
	padding-right: 1em;
	padding-bottom: 0.7em;
	padding-left: 60px;
}

.frame2 {    /*   Старая редакция стиля frame2    */
	border: 2px solid #006fd8;
	background-image: url(tpl/block_question_b_old.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	vertical-align: top;
	padding-top: 0.7em; 
	padding-right: 1em;
	padding-bottom: 0.7em;
	padding-left: 60px;
}


/********* LEGACY ***********/

.sel1 {
 font-size: 18px;
 color:#006fd8;
 margin-bottom:20px;
 text-align:center;
}

.sel2 {
 border: 1px solid #fe7010;
 background-image: url(tpl/accent.gif);
 background-repeat: no-repeat;
 background-position: left center;
 text-align: left;
 vertical-align: top;
 margin: 0px;
 padding-top: 15px;
 padding-right: 15px;
 padding-bottom: 15px;
 padding-left: 60px;
}

.sel3 {
 border: 1px solid #fe7010;
 background-image: url(tpl/question.gif);
 background-repeat: no-repeat;
 background-position: left center;
 text-align: left;
 vertical-align: top;
 margin: 0px;
 padding-top: 15px;
 padding-right: 15px;
 padding-bottom: 15px;
 padding-left: 60px;
}

.border1 {
 border:solid #006fd8 2px;
 padding:15px;
}

.border2 {
 border:solid #666 1px;
 padding:15px;
}

/**************/

.question {
 font-size: 18px;
 margin-bottom:20px;
 color:#006fd8;
 font-weight:bold;
}

.slide {
 margin-bottom:20px;
}

.answer {
 margin-bottom:20px;
}

.hint {
 margin-bottom:20px;
}
